.App {
  text-align: center;
  background-color: white;
  font-size: 16px;
}

.mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e0a8b377;
  box-shadow: 0 0 12px;
  margin: 20px;
  position: relative;
  padding: 20px;
}

  ul {
    list-style-type: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.deleteIcon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.selectStyles{ 
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.radioStyles{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.selectQuestion { 
  cursor: pointer;
  width: 100%;
}

.ulStyle {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
    padding: 0;
}
